target/
*.iml
*.tar
*.tar.gz
.idea/
.project
*~
#java
/data_enchilada/java/data_enchilada/target/
/data_enchilada/java/data_enchilada/.idea/
/data_enchilada/docker/data_enchilada.jar
#ruby
/data_enchilada/docker/ruby/log/
/data_enchilada/docker/ruby/tmp/

#nutch
/scraper/docker/nutch/